<!DOCTYPE html>
<html>
  <head>
    <title>Creditos</title>
    
  </head>
  <body>
    <h1>Ruben Hernandez Rodas</h1>
    <h2>Guillermo Vega Sanz</h2>
    <div><img width="500" height="390" src="http://i60.tinypic.com/28bv88l.jpg" border="0" alt="Image and video hosting by TinyPic"> </div>
  </body>
</html>